@import '../../../../utilities/variables';
//@media(min-width:1280px){
    .nav{
        &-menu{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            list-style: none;
            &-items{
                position: relative;
                font-size: 1.3vw;
                a{
                    display: block;
                    font-size: 1.3vw;
                    color: inherit;
                    text-decoration: none;
                    text-align: left;
                    padding: 0.0rem 1rem;

                    &:hover{
                        font-size: 1.8vw;
                        color: $blue-test; 
                    }
                }
                button{
                    display: flex;
                    align-items: center;
                    color: inherit;
                    font-size: 100%;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    width: 100%;
                    &:hover{
                        font-size: 115%;
                        color: $bluon-blue; 
                    }
                }
            }
            
        }
        
    }
//}
@media(max-width: 780px){
    .nav-menu{
        display:none; 
    }
    .header-wrapper{
        display:none; 
    }
}