@use "../../../assets/scss/colors" as *;

.button-nav {
  &-link {
    display: inline-block;
    padding: 1.25rem 2.5rem;
    border-radius: 50px;
    font-size: 1.125rem;
    font-weight: 700;
  }

  .primary {
    background-color: $bluon-brand-black;
    color: $bluon-brand-white;
  }
  .primary:hover {
    background-color: $bluon-brand-blue;
    color: $bluon-brand-white;
  }

  .secondary {
    background-color: $bluon-brand-white;
    color: $bluon-brand-black;
  }
  .secondary:hover {
    background-color: $bluon-brand-black;
    color: $bluon-brand-white;
  }
}
