@use "../../assets/scss/colors" as *;
@use "../../assets/scss/mixins" as *;

.about {
  &-values {
    &-text {
      padding-top: 6vw;
      text-align: center;
      p {
        color: $bluon-background-grey;
        font-size: 1.25rem;
        font-weight: 300;
        margin-bottom: 1.25rem;
      }
      h1 {
        font-family: "Inter", sans-serif;
        font-size: 2.375rem;
        padding-bottom: 1.875rem;
        margin-bottom: 0.5rem;
      }
    }
    &-img1 {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 2vw;
      img {
        width: 95%;
      }
    }
    &-img2 {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }
  &-core {
    padding: 2.1875rem 0.75rem 0;
    background-color: $bluon-background-grey-2;
    &-text {
      padding: 2.1875rem 0.75rem 1.875rem;
      text-align: center;
      p {
        color: $bluon-background-grey;
        font-size: 1.25rem;
        font-weight: 300;
        margin-bottom: 1.25rem;
      }
      h1 {
        font-family: "Inter", sans-serif;
        font-size: 2.375rem;
        letter-spacing: -0.76px;
        margin-bottom: 0.5rem;
      }
    }
    &-management {
      &-text {
        h1 {
          font-size: 5vw;
          width: 100%;
        }
      }
    }
    &-board {
      background-color: $bluon-background-grey-2;
    }
  }
  @media(min-width: 768px){
    &-values{
      &-carousel{
        display:none; 
      }
      &-team-img{
        display:flex;
        justify-content: center;
        img{
          width:100%; 
        }
      }
    }
  }
  @media(min-width: 1028px){
    
  }
}
