// brand colors (could be background color)
$bluon-brand-white: #ffffff;
$bluon-brand-black: #000000;
$bluon-brand-blue: #1352fe;
$bluon-brand-blue-2: #013060;

// background colors that are not brand
$bluon-background-grey: #6c757d;
$bluon-background-grey-2: #f8f8f8;
$bluon-background-grey-3: #212529;
$bluon-background-grey-4: #e9f4ff;
$bluon-background-grey-5: #dfe9f5;
$bluon-background-grey-6: #333333;
$bluon-background-grey-7: #a4b4c6;
$bluon-background-grey-8: #ccd6df;
$bluon-background-grey-9: #f1f3f4;

//  slide indicators in carousel
$bluon-slide-indicator: #ebecf0;
$bluon-slide-indicator-active: #bebebe;
