@mixin flex-and-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin colorTest {
  background-color: red; 
}
@mixin block {
  display: block;
}
@mixin flexleft{
  display:flex; 
  justify-content: left;
  align-items: baseline;
}
@mixin tablet {
  @media (min-width: 600px) {
    @include block;
  }
}
@mixin desktop {
  @media (min-width: 768px) {
    @include flex-and-center;
  }
}
@mixin button($color, $backgroundcolor) {
  color: $color;
  background-color: $backgroundcolor;
  border-radius: 50px;
}

@mixin padding-y($y) {
  padding-top:$y;
  padding-bottom:$y;
}
@mixin padding-x($x) {
  padding-left:$x; 
  padding-right: $x;
}
@mixin padding-xy($x, $y){
  padding-top:$y;
  padding-bottom:$y; 
  padding-left:$x; 
  padding-right:$x; 
}

@mixin button-hover($color, $backgroundcolor) {
  color: $color;
  background-color: $backgroundcolor;
  border-radius: 45px;
  cursor: pointer;
}
@mixin team-grid($gridsize) {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat($gridsize, 1fr);
  padding-left: 5%;
  padding-right: 5%;
}
@mixin full-grid($size) {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat($size, 1fr);
}
@mixin space-grid($gridsize) {
  justify-content: space-around;
  align-items: center;
  //text-align: center;
  display: grid;
  grid-template-columns: repeat($gridsize, 1fr);
  padding-left: 5%;
  padding-right: 5%;
}

//fonts
@mixin title-mobile {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.03em;
  font-family: "Inter", sans-serif;
}
@mixin p-mobile {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
