@use "./colors" as *;

* {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

body {
  //position: relative;
  font-family: "Neue Haas Unica", sans-serif;
  background-color: $bluon-brand-white;
  margin: 0;

  .TitleBlue {
    color: $bluon-brand-blue;
    //text-decoration: none;
  }
  //backgrounds
  .bg-img-eclipse {
    background-image: url(../../assets/images/ellipse-circle.png);
    background-position: bottom right;
    background-color: $bluon-background-grey-2 !important;
    background-size: inherit;
    background-repeat: no-repeat;
  }
}

button {
  border: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

a {
  color: initial;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.displayNone {
  display: none !important;
}
