.lumi {
    background: 50% 100% / 50% 50% no-repeat
                radial-gradient(ellipse at bottom, rgb(52, 1, 220), transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.5rem;
    //font-family: "Source Sans Pro", sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms,
               glow 2800ms linear infinite 2000ms;
    border-style:ridge;
    border-color: darkblue;
    border-radius: 50px;
    &:hover{
      cursor: pointer;
      
    }
    @keyframes reveal {
      80%{
        letter-spacing: 8px;
      }
      100% {
        background-size: 400% 300%;
      }
    }
    @keyframes glow {
      50% {
        text-shadow: 0 0 8px rgb(25, 17, 74);
      }
    }
    @media(min-width: 768px){
      font-size: 2rem;
    }
    @media(min-width: 1020px){

    }
  }  