.carousel {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  margin-top: 1.5625rem;

  &-strip {
    display: flex;
  }

  &-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 100vw;
    margin: 2.8125rem 0;
  }
}
