@font-face {
  font-family: "Neue Haas Unica";
  src: url("NeueHaasUnicaPro-Medium.woff2") format("woff2"),
    url("NeueHaasUnicaPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Unica";
  src: url("NeueHaasUnicaPro-Regular.woff2") format("woff2"),
    url("NeueHaasUnicaPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
