@use "../../assets/scss/colors" as *;

.thank-you-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;

  .thank-you {
    padding-right: 3rem;
    &-title {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 2.375rem;
      margin-bottom: 1rem;
    }

    &-message {
      color: $bluon-background-grey-6;
      margin-bottom: 2.375rem;
    }
  }
}
