@use "../../../../assets/scss/colors" as *;

.front-page {
  &-header {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: $bluon-brand-white;
    text-align: center;
    padding: 3rem 0 1rem;
    h2 {
      font-size: 2.8125rem;
    }
  }

  &-buttons {
    display: flex;
    padding: 0.5rem 1rem;
  }

  &-stamp {
    display: flex;
    justify-content: flex-end;

    img {
      width: 100px;
    }
  }

  &-phones {
    display: flex;
    justify-content: center;

    img {
      width: 170vw;
    }
  }
}
