.demo{

    &-form{
        &-text{
            padding-left: 1.5rem;
            padding-right: 2rem; 
        }
        h1{
            font-size: 1.6rem;
        }
        p{
            font-size: 1rem;
            padding-bottom: 1rem;
        }
    }
    &-img{
        display:none; 
        img{
            max-width: 100%;
        }
    }
    @media (min-width: 768px){
        display:flex; 
        &-form{
            &-text{
                //padding-top:1vh;
                padding-left:7.3vw;
                width:90%;  
            }
        }
        &-img{
            display: flex;
            width:60%;
            //height:3rem; 
            img{
                display: flex;
            }
        }
    }
    @media (min-width:1028px)
    {
        display:flex; 
        justify-content: space-between;
        &-form{
            &-text{
                padding-top:5vh;
                padding-left:7.3vw;
                width:90%;  
            }
        }
        &-img{
            width:40%; 
            img{
                display:flex; 
                height:100%; 
                max-width: 100%;
            }
        }
    }
}