.demo{

    &-form{
        &-text{
            padding-left: 1.5rem;
            padding-right: 2rem; 
        }
        h1{
            font-size: 1.6rem;
        }
        p{
            font-size: 1rem;
            padding-bottom: 1rem;
        }
    }
    &-img{
        img{
            max-width: 100%;
        }
    }
    @media (min-width: 768px){
        display:flex; 
        // &-text{
            
        // }
        &-img{
            width:60%;
            //height:3rem; 
        }
    }
    @media (min-width:1028px)
    {
        display:flex; 
        &-img{
           height:100%; 
           width:100%;  
        }
    }
}