@use "../../../../assets/scss/colors" as *;

.tech-support {
  &-desktop{
    display:none; 
  }
  background-color: $bluon-background-grey-2;
  padding: 2.25rem;

  &-header,
  &-header-two {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
  }

  &-header-two {
    color: $bluon-brand-blue;
    padding-top: 3rem;
  }

  &-paragraph {
    color: $bluon-background-grey-3;
    padding: 1rem 0 1.5rem;
  }

  &-image {
    height: 100%;
    width: 100%;
  }
  @media(min-width: 768px){
    &-mobile{
      display:none; 
    }
    &-desktop{
      display:flex; 

    }
    &-image{
      // width:503px;
      // height:710px;
      height:500px; 
      width:100%;
    }
  }
  @media (min-width:1028px){
    
  }
}
