@mixin flex-and-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin block {
  display: block;
}
@mixin tablet {
  @media (min-width: 600px) {
    @include block;
  }
}
@mixin desktop {
  @media (min-width: 768px) {
    @include flex-and-center;
  }
}
@mixin button($color, $backgroundcolor) {
  color: $color;
  background-color: $backgroundcolor;
  border-radius: 50px;
}

@mixin button-hover($color, $backgroundcolor) {
  color: $color;
  background-color: $backgroundcolor;
  border-radius: 45px;
  cursor: pointer;
}
@mixin team-grid($gridsize) {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat($gridsize, 1fr);
  padding-left: 5%;
  padding-right: 5%;
}





//fonts 
@mixin title-mobile{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.03em;
    font-family: "Inter", sans-serif;
}
@mixin p-mobile{ 
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
