//primary variables 
$bluon-blue: #1352FE; 
$web-blue: #1451ff;
$bluon-dark-blue: #001d43;

//$bluon-live-green: ;

//backgrounds 
$logo-grey: #F1F3F4 ;
$background-grey:#f8f8f8; 
//logos & images 
//$home-background: '../media/image/HVAC-system-graphic-large.png'; 
//fonts 
$label-font: 'Roboto Medium', size 16px, rgba(255, 255, 255, 0.00), font-size 11pt, font-family 'Calibri', sans-serif;
$Input-text: 'Roboto Regular', size 16px,  rgba(255, 255, 255, 0.00), font-size 11pt, font-family 'Calibri', sans-serif;
$Error: 'Roboto Medium', size 16px, rgba(255, 255, 255, 0.00), font-size 11pt, font-family 'Calibri', sans-serif;
$Input: background-color rgba(255, 255, 255, 0.00);

//backgrounds
