@use "../../assets/scss/colors" as *;

.contact-page {
  background-color: $bluon-brand-blue;
  background-image: url('../../assets/images/contact/contact-bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  .hubspot-wrapper{
    display:flex;
    width:100%; 
    justify-content: center;
    .hubspot{
      max-width:490px; 
    }
  }
  @media(min-width:768px){
    display:flex; 
    justify-content: space-around;
    .hubspot-wrapper{
      display:flex; 
      justify-content: space-around;
      padding-top:7vh;
      padding-bottom: 7vh; 
      height: 60%;
      max-width: 100%;
      .hubspot{
        max-width: 80%;
        height:6%; 
      }
    }
  }
  @media(min-width:1020px){
    .hubspot-wrapper{
      height:100%; 
      //height:400px; 
      .hubspot{
        max-width: 100%;
        //height:500px;  
      }
    }
  }
  
}

.contact {
  color: $bluon-brand-white;
  padding: 4rem 3rem 3rem 3rem;
  //width:50%;
  //position: relative;
  &-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 2.375rem;
    margin-bottom: 1rem;
    color: $bluon-brand-white;
  }

  &-information-list {
    li {
      
      margin-bottom: 1rem;
      a {
        color: $bluon-brand-white;
        line-height: 1.5rem;
        
      }
        img {
          padding-right: 0.5rem;
          
      }
    }
  }

  &-social-media-list {
    display: flex;
    margin: 2.375rem 0 1.25rem;
    li {
      margin-right: 1rem;
    }
  }
  @media(min-width: 670px){
    //padding-left: 25vw; 
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
  }
  @media(min-width:768px){
    //padding-left: 7vw; 
  }
  @media(min-width:1020px){
    padding: 15vw;
    &-title{
      font-size: 4rem;
    }
  }
}
