@use "../../assets/scss/colors" as *;

.contact-page {
  background-color: $bluon-brand-blue;
  @media(min-width:768px){
    .hubspot-wrapper{
      display:flex; 
      justify-content: space-around;
      align-content: center;
      max-width: 100%;
      .hubspot{
        max-width: 80%;
      }
    }
  }
  
}

.contact {
  color: $bluon-brand-white;
  padding: 4rem 3rem 3rem 3rem;

  &-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 2.375rem;
    margin-bottom: 1rem;
    color: $bluon-brand-white;
  }

  &-information-list {
    li {
      margin-bottom: 1rem;
      a {
        color: $bluon-brand-white;
        line-height: 1.5rem;
        img {
          padding-right: 0.5rem;
        }
      }
    }
  }

  &-social-media-list {
    display: flex;
    margin: 2.375rem 0 1.25rem;
    li {
      margin-right: 1rem;
    }
  }
  @media(min-width:768px){
   text-align: center;
   &-social-media-list{
    justify-content: center;
   }
  }
}
