@use "../../assets/scss/colors" as *;
@use '../../assets/scss/mixins' as m;
@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin padding($size) {
  padding-left: $size;
  padding-right: $size;
}
@mixin grid($rowCount, $spacing) {
  display: grid;
  //justify-content: space-around;
  grid-template-columns: repeat($rowCount, 1fr);
  grid-gap: $spacing;
  width: 100%;
}
.home {
  display: block;
  &-welcome-wrapper {
    h1 {
      //padding-top: 1rem;
      color: $bluon-brand-blue;
      text-align: center;
      font-size: 2.3rem;
      padding-bottom: 2rem;
    }
  }
  &-video-container {
    @include center-flex;
    background-image: url('../../assets/images/home/HVAC-system-graphic.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    //padding-bottom: 3vh;
    .home-video {
      width: 100%;
    }
  }
  &-impact {
    background: url("../../assets/images/ellipse-circle.png") no-repeat #f8f8f8;
    background-position: right;
    background-size: cover;
    //height: 400px;
    @include padding(2.2rem);
    h1 {
      color: grey;
      font-size: 4.5vw;
      padding-bottom: 0.8rem;
      padding-top: 2rem;
    }
    h2 {
      font-size: 8vw;
      //width:70%;
    }
    // .lottie-loop3{
    //   height:100%; 
    // }
  }
  &-cards {
    //@include center-flex;
    //@include grid(1,1vw );
  }
  &-app {
    background-color: $bluon-brand-blue;
    overflow-y: hidden;
    &-text {
      color: white;
      @include padding(2rem);
      .outer {
        padding-top: 4rem;
        width: 90%;
        padding-bottom: 2rem;
        &-title{
          border-left: 3px solid #4d98ff;
          padding-left: 1rem;
        }
      }
      ul {
        padding-left: 2rem;
        padding-right: 2rem;
        list-style: circle;
        padding-bottom: 1.2rem;
        color: $bluon-background-grey-5;
        li {
          img{
            padding-right:.5rem
          }
          // list-style-image: url('../../assets/icons/white-circle.svg');
          display: flex;
          align-items:flex-start;
          //background-position: left 20px;
          padding-bottom: 1rem;
          // line-height: 1rem;
        }
      }
      //button will be changed
      button {
        color: black;
        background-color: white;
        border-radius: 50px;
        width: 130px;
        height: 45px;
        &:hover{
          color: white; 
          background-color: black;
        }
      }
    }

    &-img {
      padding-top: 1.2rem;
      @include center-flex;
      transform: translateY(2rem);
      img {
        width: 50%;
        max-width:290px;
      }
    }
  }
  &-mla-mobile{
    .mla-video{
      display:flex; 
      justify-content: center;
      //align-items: baseline;
      
      width:100%; 
      video{
        max-width: 100%;
      }

    }

  }

  &-button-cards {
    //padding-top: 0.5rem;
    @include m.full-grid(1);
    width:100%; 
    //justify-content: center;
  }
  &-button-cards-wrapper{
    width:100%; 
    display:flex; 
    justify-content: center;
    align-items: center;
  }
  //home- (tablet sizing)
  @media (min-width:786px){
    &-welcome-wrapper{
      h1{
        font-size: 3rem;
      }
      .home-video-container{
        padding-bottom: 5vh;

      }
    }
    &-impact{
      text-align: center;
      h1{
        font-size: 2vw;
      }
      h2{
        font-size: 4vw;
      }
    }
    &-app{
      display:flex; 
      justify-content: center;
      &-text{

      }
      &-img{
        img{
          width: 55%;
        }
      }
    }
    &-button-cards{
      //@include center-flex();
      width:100%;  
      @include m.full-grid(3);
    }
  }
  //home- (desktop sizing) 
  @media(min-width: 1028px){
    &-welcome-wrapper{
      h1{
        font-size: 4rem;
      }
      .home-video-container{
        padding-bottom:10vh; 
        video{
          width:65%; 
        }
      }
    }
    &-button-cards{
      //@include m.team-grid(3); 
      //justify-content: space-between;
    }
    &-app{
      &-img{
        img{
          width:65%; 
        }
      }
      &-text{
        button{
          width:200px; 
          font-size: 1.2rem;
        }
      }
    }
  }
  //4k hirez media 
  @media(min-width: 1400px){

  }


}

