@use "../../../assets/scss/colors" as *;

.hubspot {
  &-form {
    padding-left: calc(8vw - 8px);
  }
}

.mobile {
  display: flex;
  justify-content: center;
  background-color: $bluon-brand-white;
  border-radius: 25px;
  padding: 1rem;
}
