@use "../../../assets/scss/colors" as *;

.headshot {
  margin-bottom: 3rem;
  height: 250px;
  &-wrapper {
    //text-align: center;
    //height:400px; 
    //padding: 1vw 5vw 1vw 1vw;
    h6 {
      //name
      font-size: 1rem;
      font-weight: 400;
      padding-top: 1rem;
      margin-bottom: 0.5rem;
      //height:100%; 
    }
    p {
      //title and bio
      font-size: 0.875rem;
      font-weight: 400;
      color: $bluon-background-grey-3;
      line-height: 20px;
      //height:40px; 
    }
  }
  &-contact{
    //display:flex; 
    //justify-content: space-around;
    
    //justify-content: space-between;
    &-tel{
      padding-right: 4vw; 
    }
  }
  @media(min-width: 768px){
    &-contact{
      
    }
  }
  @media(min-width: 1020px){

  }
}