@use "../../assets/scss/colors" as *;
// @use '../../assets/scss/mixins' as m; 
@mixin center {
  display:flex; 
  align-items: center;
  justify-content: center;
}
@mixin padding-side($num) {
  padding-left: $num;
  padding-right: $num;
}
.distributors {
  &-top {
    background-color: $bluon-background-grey-2;

    &-text {
      padding-top: 2.5rem;
      //padding-left: 2.6rem;
      padding-bottom: 2.5rem;
      //width: 80%;
      text-align: center;
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.8vh;
        //width: 90%;
        //padding-left: 1rem;
      }
    }
    &-video {
      .dist-vid {
        width: 100%;
      }
    }
    &-signup{
      @include center; 
      padding-bottom: 1.5rem;
    }
  }
  &-divider{
    img{
      width:100%; 
    }
  }
  &-partners {
    padding-top: 2rem;
    &-text {
      text-align: center;
      h2 {
        padding-bottom: 2rem;
        font-size: 4vh;
      }
    }
    &-logos {
      padding-bottom: 2rem;
    }
  }
  &-bluon-live{
    @include padding-side(2rem);
    h2{
      font-size: 2.5vh; 
    }
    ul{
      @include padding-side(1.5rem);
      list-style-type:circle;
      li{
        @media(min-width: 768px){
          font-size: 1.8vh;
        }
        
        padding-bottom: 1rem;
        padding-top: .8rem;
        line-height: 1.4rem;
      }
    }
    .bluon-logo{
      width:40%;
      padding-bottom: 1.6rem;
    }
    .demo-button{
      @include center(); 
      padding-bottom: 1.5rem;
    }
    &-demo{
      padding-top: 2rem;
      padding-bottom: 2rem; 
    
    }
   
  }
  &-impact {
    @include padding-side(2rem);
    padding-top: 2rem;
    &-text {
      p {
        color: $bluon-background-grey;
        font-size: 1.2rem;
        padding-bottom: 1.5rem;
      }
      h2 {
        font-size: 1.7rem;
        padding-bottom: 1.5rem;
      }
      h3 {
        font-size: 1rem;
      }
    }
    &-map {
      padding-top: 3rem;
      &-img {
        width: 100%;
      }
    }
  }
  &-bottom {
    padding-top: 2.6rem;
    &-video-text {
      text-align: center;
      p {
        color: $bluon-background-grey;
        padding-bottom: 1.5rem;
      }
      h2 {
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
      }
    }
    &-video-demo-button {
      display: flex;
      justify-content: center;
      align-content: center;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
  @media(min-width: 768px){
    &-bluon-live{
      &-demo{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        img{
          max-width: 200px;
        }
        &-search{
          img{
            max-width: 200px;
          }
        }
      }
    }
    &-bottom-video-vid-wrapper{
      
    }

  }
}
