.team-dropdown{
    
    &-box{
        display:flex; 
        align-items: center;
        justify-content: center;
        h4{
            background-color: black; 
            color:white; 
            font-size: 1.2rem;
            border-radius: 50px;
            //border-style: solid;
        }
        

    }
    ul.team-menu{
        //text-align: center;
        display:flex; 
        justify-content: space-between;
        align-items: center;
        // li.team-menu-item{
        //     padding-right:1rem; 
        // }
    }
    @media(min-width: 768px){
        
    }
    @media(min-width: 1020px){
        &-box{
            display:none; 
        }
    }
}

//animation 

    