@use "../../../../assets//scss/colors" as *;

.apple-reviews-indicator-dot {
  height: 11px;
  width: 11px;
  background-color: $bluon-slide-indicator;
  border-radius: 50%;
  margin: 0 0.25rem;
}

.active {
  background-color: $bluon-slide-indicator-active;
}
