@import '../../../utilities/mixins';
.mla{
    display: block;
    &-top{
        &-img{
            &-app{
                width:100%; 
            }
        }
        &-text{
            text-align: center;
            h3{
                font-size: 1.5rem;
            }
            p{
                padding-top: 1.5rem;
                font-size: 1rem;
                padding-bottom: 1.5rem;
                color: grey; 
            }
            h4{
                padding-top: 1rem;
                padding-bottom: 2rem;
            }
        }
    }
    &-testimonials{

    }
    &-link{
        &-text{
            text-align: center;
        }
        &-wrapper{
            @include flex-and-center;
            width:100%; 
            .app-logo{
                display:none; 
            }
            
        }
    }
    &-video{
        display: flex;
        .video{
            width:100%; 
        }
    }
    
}