.mla{
    &-top{
        padding-top:5vw;
        display: flex;
        &-text{
            padding-top: 15vw;
            width:49%;
            h1{
                font-size: 4.5vw;
            }
            h2{
                font-size: 3vw;
            }
            p{
                padding-top: 1vw;
                font-size: 2vw;
                padding-bottom: 3vw;
                color:grey;
            }
        }
        &-img{
            width:58%;
            &-app{
                width:100%
            }
        }
    }
    &-testimonials{
        padding-top:5vw;
        display: flex;
    }
    h3{
        text-align: center;
        padding-bottom: .5vw;
    }
    &-link{
        &-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
        .app-logo{

        }
    }
    }
    &-video{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
        video.video{
           max-width: 70%;
        }
    }
}