

//for home page 
.counter-users{
    &-total{ 
        span{
            font-size: 3rem;
        }
        p{
            padding-left:1px;
            padding-bottom:1rem;  
        }
        border-bottom: 1px solid;
    }
    &-today{
        padding-top:1rem;  
        display:flex; 
        align-items: baseline;
        span{
            padding-right:.3rem;
            font-size: 1.5rem; 
        }
        p{

        }
        img{
            padding-right:.5rem; 
        }
    }
    
}
.market-percent{
    .counter-market-percent{
        border-bottom: 1px solid;
        span{
            font-size:2rem;
        }
        p{
            padding-top:1rem; 
            padding-bottom: 1.5rem;
        }

    }
}
.market-growth{
    .counter-market-growth{
        padding-top: 1rem;
        padding-bottom:3rem; 
        display: flex;
        justify-content: baseline;
        align-items: baseline;
        img{
            padding-right:.3rem; 
        }
        span{
            font-size: 1.4rem;
            padding-right: .3rem;
        }
        p{

        }
    }
}
@media(min-width:768px){

}
@media(min-width:1020px){

}