div.scroller-comp{
    display:flex;
    justify-content: center;
    color:gray;
    //background-color: lightgray;
    //width:200px
    //align-items:flex-start;
    &:hover{
        cursor: pointer;
        color:#0000ff; 
    }
    h3{
        text-align: left;
        width:150px; 
        //background-color: lightblue;
        //border-radius: 25px;
        font-size: 3vw;
        padding-right:1.3vw; 
    }
}
@media (min-width:768px){
    div.scroller-comp{
        //display:none; 
        justify-content: center;
        color:grey; 
        h3{
            font-size: 1.8vw;
            text-align: center;
            width:100%; 
        }
        
    }
}