.footer {
  background-color: #013060;
  width: 100%;
  padding: 3rem 2.5rem;
  color: #a4b4c6;

  &-logo {
    display: block;
    margin: 1rem 0 1.5rem;
  }

  &-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 89px;

    &-item {
      padding: 0.8rem 0;
      &-link {
        color: #a4b4c6;
      }
    }
  }

  &-contact {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;

    a {
      color: #ccd6df;
    }

    img {
      margin-right: 0.5rem;
    }

    &-phone {
      margin: 0.5rem 0;
    }

    &-email {
      margin: 0.5rem 0;
    }
  }

  &-terms-and-privacy {
    margin: 1.5rem 0;
    font-size: 0.875rem;

    &-container {
      display: flex;
      margin-top: 1rem;

      a {
        color: #a4b4c6;
      }

      &-terms {
        padding-right: 1rem;
      }

      &-privacy {
        padding-left: 1rem;
      }
    }
  }
}
