.join-bluon {
  padding: 1.5rem 0 1rem;
  &-logo {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    &-image {
      width: 72px;
      height: 72px;
    }
  }

  &-quote {
    display: flex;
    justify-content: center;
    font-size: 1.125rem;
  }

  &-buttons {
    display: flex;
    padding: 1rem;
  }
  @media (min-width: 768px){
    &-logo{
      &-image{
        width: 140%; 
        //TODO: add desktop/tablet img
      }
    }
    &-quote{
      font-size: 1.7rem;
    }
    &-buttons{
      justify-content: center;
    }
  }
}
