@use "../../../assets/scss/colors.scss" as *;

.join-banner {
  background-color: $bluon-brand-blue;
  color: $bluon-brand-white;
  padding: 3rem;
  &-title {
    font-family: "Inter", "sans-serif";
    font-size: 2.375rem;
    padding: 2.1875rem 0 3rem;
  }
}

.join-banner-container {
  background-color: $bluon-brand-blue;
}
