.app{
    &-top{
        background:url('./bg-app-header.jpg');
        background-position-x: 100%;
        background-color: rgba(248,248,248,255);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 100%; 
        width:100%;
        
        
        h1{
            color:white; 
            text-align: center;
            padding-top: 4vw;
            font-size: 4.5vw;
        }

        &-btn-wrapper{
            min-height: 9vw;
            display: flex;
            //height: 5rem;
            align-items: center;
            justify-content: center;
            margin: auto;
        }
        &-badge{
            height: 5rem;
            padding-left: 3vw;
            padding-bottom: 2vw;
        }

        &-content{
                display:flex;
                justify-content: center;
                align-self: center;
            &-img{
                padding-top:3vw;
                height: 26vw;
            }
        }  
    }
    &-homebase{
        
        background-color: rgba(248,248,248,255);
        background-position-x: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 40rem; 
        &-text-wrapper{
            h1{
                font-size: 3.5vw;
                padding-top: 15vw;
                padding-left: 4.5vw;
            }
            p{
                font-size: 1.5vw;
                padding-top: .3vw;
                padding-bottom: 4vw;
                padding-left: 4.5vw;
            }
        }
        &-scroller{
            height: 20vw; 
        }
    }
    &-support{
        padding-bottom: 3vw;
        &-spacer{
            padding-top: 6vw;
        }
        &-text-wrapper{
            padding-left: 4vw;
        }
        &-blue-h1{
            color: $bluon-blue; 
        }
        &-image{
            &-techs{
                padding-top: 2vw;
                padding-left: 3.2vw;
                height: 21vw;
            }
        }
    }
    &-youtube{
        //padding: 5vw 6.5vw 5vw 6.5vw; 
        display: flex;
        padding-top: 5vw;
        padding-bottom: 5vw;
        justify-content: center;
        &-video1{
            //justify-content;
            //max-height: 100%;
            height: 40vw;
            width: 80%;
        }
        &-video2{

        }
    }
    &-testimonials{
        padding-top:5vw;
        display: flex;
        &-img{
            &-phone{

            }
        }
        &-text-wrapper{
            padding-top: 15vw;
            h1{
                font-size: 3vw;
            }
            h2{

            }
            p{
                padding-top: 1vw;
                padding-bottom: 3vw;
                color: grey;
            }
        }
        &-bottom{
            &-reviews{

            }
        }
        

    }
    &-links{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-community{
        display:flex;
        max-height: 35vw;
        background-color: $bluon-blue;

        &-img{
            flex: 1 1 0;
            width: 58vw;
            // height:100%;
            justify-content: flex-end;
        }
        &-text{
            flex: 1 1 0; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            //padding-left: 1vw;
            //text-align: center;
           // width: 50%;
        }
        &-links{
            padding-top: 2vw;
        }
    }
}