@use "../../assets/scss/colors" as *;

.app {
  overflow: hidden;

  &-youtube-video-1 {
    width: 100%;
    height: 60vw;
    border: none;
  }

  &-youtube-video-2 {
    display: block;
    position: relative;
    width: 100%;
  }
}
