@use "../../../../assets/scss/colors" as *;

.news-card:first-child {
  border-top: 1px solid $bluon-background-grey-5;
}

.news-card {
  padding: 3.75rem 2.25rem;
  &-img {
    width: 100%;
  }

  &-date {
    font-size: 0.875rem;
    color: $bluon-background-grey-6;
    margin: 1rem 0 1.25rem;
  }

  &-title {
    margin-bottom: 0.5rem;
  }

  &-description {
    color: $bluon-background-grey-3;
    margin-bottom: 1.5rem;
  }

  &-link {
    color: $bluon-brand-blue;
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;

    &-text {
      margin-right: 0.5rem;
    }
  }
}
