@mixin title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: -0.02em;
    font-family: "Inter", sans-serif
}
@mixin title-small {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2.3rem;
    letter-spacing: -0.02em;
    font-family: "Inter", sans-serif;
    //padding-top: 2rem;
}
@mixin ptext {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
@mixin padding {
    padding-left: 1.5rem;
    padding-right: 1rem;
}

.privacy{
    &-content{
        &-header{
            @include padding; 
            h2{
                @include title; 
                padding-top:3rem; 
            }
            p{
                padding-top: 1rem;
                padding-bottom: 2rem;
                font-size: 1rem;
                font-weight: 300;
                color:grey; 
            }
        }
    }
    &-section{
        //styling for section component
         
        .section-content{
            @include padding;
            // line-height: 4.5vh;
            // width: 100%;
            padding-bottom: 0;
            &-title{
                
                font-weight: 700;
                font-size: 1rem;
                line-height: 22px;
                letter-spacing: -0.02em;
                font-feature-settings: 'pnum' on, 'lnum' on;
                //padding-bottom: 1.5rem;
                padding-top:1rem;

                h2{
                    @include title-small;
                }
            }
            &-p{
                //@include ptext;
                //height:100%; 
                @include ptext; 
                .inner-content{
                    //padding-bottom: 2rem;
                    //padding-top:2rem; 
                }
            }
            ul{
                list-style-type: circle;
                padding-left:3.8rem;
                padding-right:2rem;
                //padding-top: 2rem;
                line-height: 1.5rem;
            }
        }
    }
}