@use "../../../../assets/scss/colors" as *;

.apple-reviews {
  padding: 0 0.75rem;
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-heading {
      font-family: "Inter", sans-serif;
      color: $bluon-background-grey-3;
      font-size: 1.75rem;
      padding-bottom: 1.25rem;
      padding-top:2rem; 
    }

    &-paragraph {
      color: $bluon-background-grey-10;
      padding-bottom: 3.125rem;
    }
  }

  &-testimonial {
    padding: 0 2.25rem;
    &-quote {
      font-family: "Inter", sans-serif;
      font-feature-settings: "pnum" on, "lnum" on;
      font-size: 1.875rem;
      font-weight: 300;
      padding-bottom: 1rem;
    }

    &-container {
      padding-left: 1rem;
      &-name {
        font-size: 0.875rem;
        font-weight: 400;
      }
    }
  }
  &-desk-ratings{
    display:none; 
  }

  &-ratings {
    width: 100%;
  }
  @media (min-width:768px){
    display:flex;
    align-items: center;
    padding-right:5vw; 
    //justify-content: center;
    &-header{
      text-align: center;
      h2{
        padding-top: 6rem;
        font-size: 3rem;
      }
      p{
        font-size: 1.4rem;
      }
    }
    &-testimonial{
      text-align: center;
      &-quote{
        font-size: 1.5rem;
      }
      &-container{
        &-name{
          font-size: 1.5rem;
        }
      }
    }
    &-desk-ratings{
      display:flex; 
    }
    &-ratings-wrapper{
      display:none; 
    }

  }
  @media (min-width:1028px){
    padding-right:10vw;
    justify-content: space-between; 
    &-header{
      
    }
    &-ratings{
      width:60%; 
      &-desk{
        img{
          width:100%; 
        }
      }
    }
    
  }
}
