@use "../../../../assets/scss/colors" as *;

.apple-reviews {
  padding: 0 1.25rem;
  &-header {
    display: flex;
    flex-direction: column;
    text-align: center;

    &-heading {
      font-family: "Inter", sans-serif;
      color: $bluon-background-grey-3;
      font-size: 8.5vw;
      padding-bottom: 1.25rem;
      padding-top: 2rem;
    }

    &-paragraph {
      color: $bluon-background-grey-10;
      padding-bottom: 3.125rem;
    }
  }

  &-testimonial {
    padding: 0 2.25rem;
    &-quote {
      font-family: "Inter", sans-serif;
      font-feature-settings: "pnum" on, "lnum" on;
      font-size: 6vw;
      font-weight: 300;
      padding-bottom: 1rem;
    }

    &-container {
      padding-left: 1rem;
      &-name {
        font-size: 0.875rem;
        font-weight: 400;
      }
    }
  }
  &-desk-ratings {
    display: none;
  }

  &-ratings {
    width: 100%;
  }

  @media (min-width: 768px) {
    &-section {
      display: flex;
      flex-direction: column-reverse;
    }

    &-header {
      text-align: center;
      h2 {
        padding-top: 6rem;
        font-size: 3rem;
      }
      p {
        font-size: 1.4rem;
      }
    }

    &-testimonial {
      width: 85vw;
      margin: 0 auto;
      &-quote {
        font-size: 2.5rem;
        font-weight: 500;
        font-family: Inter, sans-serif;
      }
      &-container {
        &-name {
          font-size: 1.5rem;
        }
      }
    }
    &-desk-ratings {
      display: flex;
    }
  }

  @media (min-width: 1028px) {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;

    &-section {
      // display: flex;
      // flex-direction: row-reverse;
    }

    &-desk-wrapper,
    &-ratings-wrapper {
      flex: 1 1 50%;
      width: 50%;
    }

    &-desk-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-header {
      text-align: left;
    }
    &-testimonial {
      width: auto;
      padding: 0;
    }

    &-ratings {
      &-desk {
        img {
          width: 100%;
        }
      }
    }
  }
}
