@use "../../../../assets/scss/colors" as *;

.apple-reviews {
  padding: 0 0.75rem;
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-heading {
      font-family: "Inter", sans-serif;
      color: $bluon-background-grey-3;
      font-size: 1.75rem;
      padding-bottom: 1.25rem;
      padding-top:2rem; 
    }

    &-paragraph {
      color: $bluon-background-grey-10;
      padding-bottom: 3.125rem;
    }
  }

  &-testimonial {
    padding: 0 2.25rem;
    &-quote {
      font-family: "Inter", sans-serif;
      font-feature-settings: "pnum" on, "lnum" on;
      font-size: 1.875rem;
      font-weight: 300;
      padding-bottom: 1rem;
    }

    &-container {
      padding-left: 1rem;
      &-name {
        font-size: 0.875rem;
        font-weight: 400;
      }
    }
  }

  &-ratings {
    width: 100%;
  }
  @media (min-width:768px){
    &-header{
      &-heading{
        font-size: 3rem;
      }
      &-paragraph{
        font-size: 2rem;
      }
    }
    &-testimonial{
      &-quote{
        font-size: 2rem;
      }
      &-container{
        &-name{
          font-size: 1.5rem;
        }
      }
    }

  }
  @media (min-width:1028px){
    &-ratings{
      width:60%; 
    }
    &-ratings-wrapper{
      display:flex; 
      justify-content: center;
      align-items: center;
      //width:5rem;
    }
  }
}
