.container{
        justify-content: center;
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-left: 5%;
        padding-right: 5%;
    
}