@use "../../../assets/scss/colors.scss" as *;

.join-banner-app {
  background-color: $bluon-brand-blue;
  color: $bluon-brand-white;
  padding: 3rem;

  &-title {
    font-family: "Inter", "sans-serif";
    font-size: 2.375rem;
    padding: 2.1875rem 0 3rem;
  }

  &-subtitle {
  }

  &-buttons {
    display: flex;
    padding: 0.5rem 1.5rem;
  }
  
}

.join-banner-app-container {
  background-color: $bluon-brand-blue;
}
// .join-banner-style-wrapper{
//   @media(min-width: 768px){
//     display: flex;
//   }
// }