@use "../../../assets/scss/colors" as *;
@use "../../../assets/scss/breakpoints" as *;

.footer-background {
}

.footer {
  width: 100%;
  padding: 3rem 2.5rem;
  color: $bluon-background-grey-7;

  &-logo {
    display: block;
    margin: 1rem 0 1.5rem;
  }

  &-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 89px;

    &-item {
      padding: 0.8rem 0;
      &-link {
        color: $bluon-background-grey-7;
      }
    }
  }

  &-contact {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;

    a {
      color: $bluon-background-grey-8;
    }

    img {
      margin-right: 0.5rem;
    }

    &-phone {
      margin: 0.5rem 0;
    }

    &-email {
      margin: 0.5rem 0;
    }
  }

  &-terms-and-privacy {
    margin: 1.5rem 0;
    font-size: 0.875rem;

    &-container {
      display: flex;
      margin-top: 1rem;

      a {
        color: $bluon-background-grey-7;
      }

      &-terms {
        padding-right: 1rem;
        border-right: 1px solid $bluon-background-grey-7;
      }

      &-privacy {
        padding-left: 1rem;
      }
    }
  }
}

// utility
.darkBlue {
  background-color: $bluon-brand-blue-2;
}

.lightBlue {
  background-color: $bluon-brand-blue;
}

// tablet
@media (min-width: $tablet-768px) {
  .footer-link-contact-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .footer {
    width: 70vw;
    margin: 0 auto;

    &-list {
      display: flex;
      flex-direction: row;
      height: auto;

      &-item {
        padding-right: 2rem;
      }
    }

    &-contact {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;

      &-phone {
        padding-right: 2rem;
      }
    }

    &-terms-and-privacy {
      display: flex;

      &-container {
        margin-top: 0;
        padding-left: 2rem;
      }
    }
  }
}
